.preco {
    color: crimson;
}
.quantidade {
    width: 10px;
    height: 10px;
    right: 10px;
    left: 10px;
     
     
     border-radius: 20px;



}
body{
    background-image: url(../template-loja/imagens/nuvem.jpg);
    background-size: cover;
}
.fonte3{
    border-radius: 20px;
    
    background-color: rgb(219, 3, 183);
    border-radius: 30px;
}