body{
    background-image: url(../template-loja/imagens/ginrace4.jpg);
    background-size: cover;
}

.color{
    color: red;
}
.funcionariodisplay{
    background-color: rgb(222, 196, 233);
    border-radius: 20px;
    display: inline-block;
}